
.as{
    width: 100vw !important;
}
.ui-carousel__itemscontainer{
    width: 100vw ; 
}
.test-one{
    width: 100vw;
}
img{
    height: 200px;
}

.carousel-item{
  min-height: 300px;
  background-color: red;
}